/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.vectorai-sync-status {
  position: absolute;
  opacity: 0.5;
  margin: 2.5px;
}

.file-reference {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
  border: none;
  background: var(--background-secondary-alt);
  color: var(--text-normal);
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 4px;
  user-select: none;
}
.file-reference.clickable:hover {
  background-color: var(--interactive-hover);
  box-shadow: var(--input-shadow-hover);
}

.markdown-decorator {
  margin-block: 0;
  white-space: normal;
}
.markdown-decorator h1,
.markdown-decorator h2,
.markdown-decorator h3,
.markdown-decorator h4,
.markdown-decorator h5,
.markdown-decorator h6,
.markdown-decorator ul,
.markdown-decorator ol,
.markdown-decorator li,
.markdown-decorator p,
.markdown-decorator pre,
.markdown-decorator code,
.markdown-decorator blockquote,
.markdown-decorator table,
.markdown-decorator thead,
.markdown-decorator tbody,
.markdown-decorator tr,
.markdown-decorator td,
.markdown-decorator th {
  margin-block: 0.5rem;
  margin-inline: 0.5rem;
  white-space: normal;
  line-height: 1.5;
}
.markdown-decorator > * {
  box-sizing: border-box;
}
